<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Wakah Day School</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Admin</a></li>
            <li id="academics">
                <a href="">Academics</a>
                <div class="academics" id="academicsTab">
                    <ul>
                        <li><a href="create.html" target="_blank">CREATE Student</a></li>
                        <li><a href="enter-student-marks.html" target="_blank">ENTER Student's Marks</a></li>
                        <li><a href="update-personalInfor.html" target="_blank">UPDATE Student's Personal Infor</a></li>
                        <li><a href="update-student-marks.html" target="_blank">UPDATE Student's Marks</a></li>
                        <li><a href="delete.html" target="_blank">DELETE</a></li>
                        <li><a href="search.html" target="_blank">SEARCH</a></li>
                        <li><a href="top-three.html" target="_blank">Top 3 Students</a></li>
                        <li><a href="result-sheet.html" target="_blank">Result Sheet</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="">Finance</a></li>
            <li><a href="">Sports</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>

    <footer>
        <div id="profile-photo">
            <img src="/imgs/profile-photo.jpg" />
        </div>
        <h3>Powered by Iguta David</h3>
        <h4>davidigutas@students.uonbi.ac.ke</h4>
        <h4>A Senior Web Developer</h4>
    </footer>
    <script src="/index.js">
    </script>
</body>

</html>